html,
body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 595px;
  min-height: 1000px;
}

.cover {
  width: 595px;
  height: 841px;
}

.contents,
.introduction,
.introduction-2,
.family-policy,
.overview-family,
.recommendation,
.chronicle-events,
.consultant, .family-policy-2{
  margin: 50px 0px;
  padding: 0 38px;
}

.top-image {
  width: 520px;
  height: 29px;
}

.common-title {
  width: 520px;
  margin-top: 24px;
}

.common-title .text {
  background: #005AAA;
  font-family: AlibabaPuHuiTi-Bold;
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 6.17px;
  line-height: 24px;
  font-weight: 700;
  height: 32px;
  line-height: 32px;
  display: inline-block;
}

.common-title .en-text {
  margin-top: 6px;
  font-family: D-DIN-Bold;
  font-size: 18px;
  color: #005AAA;
  letter-spacing: 2px;
  line-height: 20px;
  font-weight: 700;
}


/* 目录 */
.contents .content .item {
  width: 520px;
  height: 22px;
  line-height: 22px;
  margin-top: 24px;
  margin-bottom: 18px;
}

.contents .content .item div {
  display: inline-block;
}

.contents .content .item .index {
  font-family: AlibabaPuHuiTi-Regular;
  font-size: 16px;
  color: #000000;
  letter-spacing: -0.32px;
  line-height: 22px;
  font-weight: 400;
}

.contents .content .item .slash {
  font-family: LucidaGrande;
  font-size: 14px;
  color: #DEDEDE;
  font-weight: 400;
  margin: 0 12px;
}

.contents .content .item .text {
  font-family: AlibabaPuHuiTi-Medium;
  font-size: 14px;
  color: #005AAA;
  letter-spacing: -0.21px;
  line-height: 20px;
  font-weight: 500;
  width: 130px;
  text-align: left;
}

.contents .content .item .line-1 {
  width: 274px;
  height: 10px;
  border-bottom: 1px dashed #DEDEDE;
}

.contents .content .item .page-no {
  min-width: 30px;
  text-align: right;
  font-family: D-DIN-Italic;
  font-size: 12px;
  color: #000000;
  font-weight: 400;
  font-style: italic;
}

/* 水滴简介 */
.introduction .content {
  margin-top: 24px;
}

.introduction .content .item {
  margin-bottom: 12px;
  position: relative;
}

.introduction .content .item div {
  display: inline-block;
}

.introduction .content .item .index {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #3157F6;
  margin-right: 10px;
  position: absolute;
  top: 8px;
  left: 0px;
}

.introduction .content .item .text {
  width: 490px;
  margin-left: 20px;
  font-family: AlibabaPuHuiTi-Regular;
  font-size: 14px;
  color: #333333;
  font-weight: 400;
  line-height: 26px;
}

.introduction .content .image {
  width: 498px;
  height: 296px;
  margin-top: 20px;
  margin-left: 11px;
}

/* 水滴保险经纪简介 */
.introduction-2 .content .des {
  width: 509px;
  margin: 22px 0 60px 0;
  font-family: AlibabaPuHuiTi-Regular;
  font-size: 14px;
  color: #333333;
  text-align: left;
  line-height: 14px;
  font-weight: 400;
  line-height: 26px;
}

.introduction-2 .content .mission {
  margin-bottom: 24px;
}

.introduction-2 .content .mission .title {
  width: 520px;
  background: #005AAA;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-family: AlibabaPuHuiTi-Bold;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
  font-weight: 700;
}

.introduction-2 .content .mission .text-container {
  background: #F2F6FF;
  width: 520px;
  height: 102px;
  padding-top: 24px;
  box-sizing: border-box;
}

.introduction-2 .content .mission .text-container-2 {
  height: 155px;
}

.introduction-2 .content .mission .text-1 {
  font-family: AlibabaPuHuiTi-Regular;
  font-size: 14px;
  color: #333333;
}

.introduction-2 .content .mission .text-2 {
  font-family: AlibabaPuHuiTi-Regular;
  font-size: 14px;
  color: #333333;
  margin-top: 6px;
}

.introduction-2 .content .mission .text-3 {
  font-family: AlibabaPuHuiTi-Regular;
  font-size: 14px;
  color: #333333;
  margin-top: 16px;
}

.introduction-2 .content .mission .index {
  width: 10px;
  height: 10px;
  background: #3157F6;
  border-radius: 50%;
  display: inline-block;
  margin-left: 116px;
}

/* 家庭风险保障总览 */
.overview-family .describe {
  width: 520px;
  font-family: AlibabaPuHuiTi-Regular;
  font-size: 12px;
  color: #999999;
  line-height: 17px;
  font-weight: 400;
  margin: 22px 0 10px 0;
}

table {
  border-right: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  border-collapse: collapse;
}

table td {
  padding: 0;
  border: 1px solid #dedede;
  border-right: none;
  border-bottom: none;
}

table th {
  padding: 0;
  border: 1px solid #dedede;
  border-right: none;
  border-bottom: none;
}

.tr {
  font-family: AlibabaPuHuiTi-Regular;
  font-size: 12px;
  color: #FFFFFF;
  font-weight: 400;
  height: 25px;
  line-height: 25px;
}

.tr-1 {
  font-family: AlibabaPuHuiTi-Regular;
  font-size: 12px;
  color: #000000;
  font-weight: 400;
  height: 25px;
  line-height: 25px;
}

/* 家庭保费整理 */
.family-policy .content {
  margin-top: 24px;
}

.family-policy .content .title {
  background: #005AAA;
  width: 520px;
  font-size: 0;
}

.family-policy .content .title div {
  display: inline-block;
  /* float: left; */
}

.family-policy .content .title .text {
  font-family: AlibabaPuHuiTi-Medium;
  font-size: 12px;
  color: #FFFFFF;
  text-align: left;
  line-height: 12px;
  font-weight: 500;
  text-align: center;
  height: 32px;
  line-height: 32px;
}

.family-policy .content .item,
.family-policy .content .total {
  /* display: flex; */
  font-size: 0;
  width: 520px;
}

.family-policy .content .item div,
.family-policy .content .total div {
  /* float: left; */
  display: inline-block;
}

.family-policy .content .item .month {
  border: 1px solid #DEDEDE;
  background: rgba(0, 90, 170, 0.08);
  font-family: AlibabaPuHuiTi-Regular;
  font-size: 12px;
  color: #666666;
  text-align: center;
  font-weight: 400;
  width: 100px;
  height: 32px;
  line-height: 32px;
  box-sizing: border-box;
  margin: 0;
}

.family-policy .content .item .money {
  font-family: AlibabaPuHuiTi-Regular;
  font-size: 12px;
  color: #000000;
  text-align: center;
  font-weight: 400;
  width: 160px;
  height: 32px;
  line-height: 32px;
  box-sizing: border-box;
  border: 1px solid #DEDEDE;
  margin: 0;
}

.family-policy .content .total .text {
  width: 100px;
  height: 32px;
  line-height: 32px;
  font-family: AlibabaPuHuiTi-Bold;
  font-size: 12px;
  color: #333333;
  text-align: center;
  font-weight: 700;
  box-sizing: border-box;
  border: 1px solid #DEDEDE;
}

.family-policy .content .total .total-num {
  width: 420px;
  height: 32px;
  font-family: AlibabaPuHuiTi-Medium;
  font-size: 12px;
  line-height: 32px;
  color: #000000;
  text-align: center;
  font-weight: 500;
  box-sizing: border-box;
  border: 1px solid #DEDEDE;
}

.family-policy .describe {
  font-family: AlibabaPuHuiTi-Regular;
  font-size: 10px;
  color: #999999;
  font-weight: 400;
  margin: 10px 0 30px 0;
  text-align: center;
}

.family-policy .policy-total {
  width: 520px;
  text-align: left;
  font-family: AlibabaPuHuiTi-Medium;
  font-size: 14px;
  color: #000000;
  font-weight: 500;
}

#main {
  margin-top: 10px;
  background: #F2F6FF;
}

/* 家庭保单整理 */
.family-policy-2 .content {
  margin-top: 22px;
}

.family-policy-2 .content .header {
  width: 520px;
  height: 32px;
  background: rgb(241, 240, 238);
  position: relative;
  font-size: 0;
}

.family-policy-2 .content .header .icon {
  width: 34px;
  height: 20px;
  margin: 6px 6px 0 10px;
}

.family-policy-2 .content .header .text-1 {
  font-family: AlibabaPuHuiTi-Medium;
  font-size: 13px;
  color: #333333;
  font-weight: 500;
  display: inline-block;
  position: absolute;
  top: 7px;
  left: 50px;
}

.family-policy-2 .content .header .text-2 {
  font-family: AlibabaPuHuiTi-Regular;
  font-size: 12px;
  color: #000000;
  font-weight: 400;
  position: absolute;
  top: 7px;
  right: 10px;
}

.family-policy-2 .content .detail-info .text {
  width: 520px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  font-family: AlibabaPuHuiTi-Bold;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0.36px;
  font-weight: 700;
  background: #005AAA;
}

.family-policy-2 .content .detail-info .money-age {
  border: 1px solid #dedede;
  width: 520px;
  height: 38px;
  line-height: 38px;
  box-sizing: border-box;
}

.family-policy-2 .content .detail-info .money-age .text-1 {
  font-family: AlibabaPuHuiTi-Regular;
  font-size: 12px;
  color: #5F5F5F;
  font-weight: 400;
  margin: 0 0px 0 10px;
}

.family-policy-2 .content .detail-info .money-age .text-2 {
  font-family: AlibabaPuHuiTi-Regular;
  font-size: 14px;
  color: #000000;
  font-weight: 400;
  margin-right: 20px;
}

.family-policy-2 .content .detail-info .money-con .item {
  width: 520px;
  border: 1px solid #dedede;
  box-sizing: border-box;
  font-size: 0;
}

.family-policy-2 .content .detail-info .money-con .left {
  width: 150px;
  text-align: center;
  font-family: AlibabaPuHuiTi-Regular;
  font-size: 10px;
  color: #000000;
  font-weight: 400;
  min-height: 50px;
  line-height: 50px;
  display: inline-block;
  border-right: 1px solid #dedede;
}

.family-policy-2 .content .detail-info .money-con .right {
  width: 360px;
  display: inline-block;
  /* padding-top: 14px; */
  box-sizing: border-box;
  /* margin-top: 20px; */
  padding-left: 20px;
  /* transform: scaleY(); */
}

.family-policy-2 .content .detail-info .money-con .right .text-con {
  /* margin-top: 10px; */
  /* height: 25px;
  line-height: 25px; */
  transform: translateY(10px);
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -moz-transform: translateY(10px);
}

.family-policy-2 .content .detail-info .money-con .right .text-1 {
  font-family: AlibabaPuHuiTi-Regular;
  font-size: 10px;
  color: #797979;
  font-weight: 400;
  display: inline-block;
  width: 50px;
  text-align: right;
}

.family-policy-2 .content .detail-info .money-con .right .text-2 {
  width: 360px;
  font-family: AlibabaPuHuiTi-Regular;
  font-size: 10px;
  color: #000000;
  font-weight: 400;
  margin-left: 4px;
  margin-top: 6px;
}


/* 专业建议 */
.recommendation .content {
  margin-top: 24px;
  width: 520px;
  height: 594px;
  background: #F2F6FF;
  padding: 20px;
  box-sizing: border-box;
  font-family: AlibabaPuHuiTi-Regular;
  font-size: 12px;
  color: #000000;
  letter-spacing: 0;
  line-height: 18px;
  font-weight: 400;
}

/* 水滴经纪人介绍 */
.consultant .content {
  margin-top: 24px;
}

.consultant .content .title {
  width: 520px;
  font-family: AlibabaPuHuiTi-Medium;
  font-size: 17px;
  color: #000000;
  font-weight: 500;
  margin-bottom: 12px;
}

.consultant .content .detail-info {
  width: 520px;
  min-height: 132px;
  background: #F2F6FF;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.consultant .content .detail-info .person-code {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 100px;
  height: 100px;
}

.consultant .content .detail-info .name {
  margin-bottom: 2px;
}

.consultant .content .detail-info .name span {
  font-family: AlibabaPuHuiTi-Regular;
  font-size: 12px;
  color: #000000;
  letter-spacing: -0.48px;
  line-height: 17px;
  font-weight: 400;
}

/* 水滴大事件 */
.chronicle-events .image {
  width: 520px;
  height: 574px;
  margin-top: 24px;
}



/* 公共样式 */

.t-a-c {
  text-align: center;
}

.w-100 {
  width: 100px;
}

.w-150 {
  width: 160px;
}

.color-005aaa {
  background: #005AAA;
}

.w-76 {
  width: 76px;
}

.w-88 {
  width: 88px;
}

.w-280 {
  width: 280px;
}
